@{
    ViewData["Title"] = "Home";
}

<div style="text-align: center; padding-top: 100px;">
    <h1>Welcome to QR Points App</h1>
    <p>Please log in or register to continue</p>

    <div style="margin-top: 30px;">
        <a href="/Account/Login" class="btn btn-primary" style="margin-right: 10px;">Login</a>
        <a href="/Account/Register" class="btn btn-success">Register</a>
    </div>
</div>
